.myMenu {
position: relative;
}
.myMenu>button.MuiIconButton-root {
  position: absolute;
  top: 5px;
  right: 5px;
}
.menu-icon {
  color: white;
  transition: color 0.2s ease;
}

.menu-icon:hover {
  color: var(--could_color);
}
